body {
  font-family: 'Courier New', Courier, monospace;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}

tr {
  border: 1px solid grey;
}

td, th {
  padding: 1em;
}

tr:nth-child(even) {
  background-color: azure;
}

button {
  padding: 0.7em;
  border-radius: 10px;
  background-color: blueviolet;
  color: azure;
  margin: 3px;
}

button:hover {
  background-color: darkorchid;
}
